<p id="notice"><%= notice %></p>

<p>
  <strong>Nomesetor:</strong>
  <%= @setor.nomeSetor %>
</p>

<p>
  <strong>Siglasetor:</strong>
  <%= @setor.siglaSetor %>
</p>

<%= link_to 'Edit', edit_setor_path(@setor) %> |
<%= link_to 'Back', setors_path %>
