<p id="notice"><%= notice %></p>

<h1>Fatos</h1>

<table>
  <thead>
    <tr>
      <th>Statusfato</th>
      <th>Datafinalizacao</th>
      <th>Logcolaborador</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fatos.each do |fato| %>
      <tr>
        <td><%= fato.statusFato %></td>
        <td><%= fato.dataFinalizacao %></td>
        <td><%= fato.logColaborador %></td>
        <td><%= link_to 'Show', fato %></td>
        <td><%= link_to 'Edit', edit_fato_path(fato) %></td>
        <td><%= link_to 'Destroy', fato, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fato', new_fato_path %>
