<p id="notice"><%= notice %></p>

<p>
  <strong>Nomeempresa:</strong>
  <%= @empresa.nomeEmpresa %>
</p>

<p>
  <strong>Cnpjempresa:</strong>
  <%= @empresa.cnpjEmpresa %>
</p>

<p>
  <strong>Tipoempresa:</strong>
  <%= @empresa.tipoEmpresa %>
</p>

<p>
  <strong>Statusempresa:</strong>
  <%= @empresa.statusEmpresa %>
</p>

<%= link_to 'Edit', edit_empresa_path(@empresa) %> |
<%= link_to 'Back', empresas_path %>
